# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# Vector store data
main_chroma_data/
*.zip

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environment
venv/
env/
ENV/

# System files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
